
  <div class="container flex flex-wrap py-6 mx-auto">

    <!-- Posts Section -->
    <section class="flex flex-col items-center w-full px-3 md:w-2/3">

        <% @posts.each do |post| %>
        <article class="flex flex-col my-4 shadow">
            <!-- Article Image -->
            <a href="<%= post_path(post[:id]) %>" class="hover:opacity-75">
                <%# <img src="https://source.unsplash.com/collection/1346951/1000x500?sig=3"> %>
            </a>
            <div class="flex flex-col justify-start p-6 bg-white">
                <a href="#" class="pb-4 text-sm font-bold text-blue-700 uppercase">Sports</a>
                <a href="<%= post_path(post[:id]) %>" class="pb-4 text-3xl font-bold hover:text-gray-700"><%= post.title %></a>
                <p href="<%= post_path(post[:id]) %>" class="pb-3 text-sm">
                    By <a href="#" class="font-semibold hover:text-gray-800"><%= post.author %></a>, Published on <%= post.created_at.strftime('%Y/%m/%d') %>
                </p>
                <a href="<%= post_path(post[:id]) %>" class="pb-6"><%= sanitize post.content %></a>
                <a href="<%= post_path(post[:id]) %>" class="text-gray-800 uppercase hover:text-black">Continue Reading <i class="fas fa-arrow-right"></i></a>
            </div>
        </article>
        <% end %>

        <!-- Pagination -->
        <%# <div class="flex items-center py-8">
            <a href="#" class="flex items-center justify-center w-10 h-10 text-sm font-semibold text-white bg-blue-800 hover:bg-blue-600">1</a>
            <a href="#" class="flex items-center justify-center w-10 h-10 text-sm font-semibold text-gray-800 hover:bg-blue-600 hover:text-white">2</a>
            <a href="#" class="flex items-center justify-center w-10 h-10 ml-3 text-sm font-semibold text-gray-800 hover:text-gray-900">Next <i class="ml-2 fas fa-arrow-right"></i></a>
        </div> %>
    <%= paginate @posts %>
    </section>
    
    <%= render partial: 'partial/sidebar' %>
  </div>