<div class="container flex flex-wrap py-6 mx-auto">

    <!-- Post Section -->
    <section class="flex flex-col px-3 md:w-2/3">

        <article class="flex flex-col my-4 shadow">
            <!-- Article Image -->
            <a href="#" class="hover:opacity-75">
                <%# <img src="https://source.unsplash.com/collection/1346951/1000x500?sig=1"> %>
            </a>
            <div class="flex flex-col justify-start p-6 bg-white">
                <a href="#" class="pb-4 text-sm font-bold text-blue-700 uppercase"><%= @post.category&.name %></a>
                <a class="text-3xl font-bold"><%= @post.title %></a>
                <p href="#" class="pb-8 text-sm">
                    By <a href="#" class="font-semibold hover:text-gray-800"><%= @post.author %></a>, Published on <%= @post.created_at.strftime('%Y/%m/%d') %>
                </p>
                <p class="pb-3">
                    <%= sanitize @post.content %>
                </p>
                <%# <h1 class="pb-3 text-2xl font-bold">Introduction</h1>
                <p class="pb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vel neque non libero suscipit suscipit eu eu urna. Proin bibendum urna mattis ante malesuada ultrices. Etiam in turpis vitae elit dictum aliquet. Donec mattis risus in turpis dapibus, eget tempus sem tincidunt. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In est enim, imperdiet sed ornare quis, pellentesque vel risus. Nunc vitae vestibulum turpis. Quisque eget eleifend urna. Etiam et vulputate purus, ut egestas sem. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Duis quis neque non urna venenatis mollis et at massa. Pellentesque sem lacus, malesuada vel hendrerit molestie, mollis vel elit.</p>
                <h1 class="pb-3 text-2xl font-bold">Heading</h1>
                <p class="pb-3">Vivamus nec facilisis elit, quis congue justo. In non augue ex. Aenean pretium facilisis hendrerit. Sed sed imperdiet dui. Etiam faucibus a diam sed vehicula. Nullam commodo lacus tincidunt, tincidunt orci sed, dapibus leo. Vivamus vulputate quis risus a ultricies. Aliquam luctus id tellus non condimentum. Aenean maximus viverra ipsum eget vestibulum. Morbi ut tincidunt sem, efficitur volutpat tortor. Donec scelerisque, ipsum eu efficitur semper, neque turpis sodales quam, in aliquam elit lacus varius lorem. Ut ut diam id leo efficitur malesuada eget in velit. Pellentesque tristique orci nunc, vitae fermentum nibh luctus eu. Mauris condimentum justo sed ipsum egestas varius.</p>
                <p class="pb-3">Sed sagittis odio a volutpat feugiat. Cras aliquam varius justo, a rhoncus ante bibendum id. Nulla maximus nisl sed enim maximus, ut dictum lectus hendrerit. Fusce venenatis tincidunt eros. Phasellus quis augue vulputate ipsum pellentesque fringilla. Morbi nec tempor felis. Maecenas sollicitudin pellentesque dui, sit amet scelerisque mauris elementum nec. Cras ante metus, mattis in malesuada in, fermentum a nunc. Suspendisse potenti. Sed tempor lacus sed commodo dignissim. Quisque dictum, dolor auctor iaculis cursus, ipsum urna porttitor ex, sed consequat nisi tellus eget ante. Duis molestie mollis eros, eu sollicitudin mauris lobortis quis.</p>
                <p class="pb-3">Vivamus sed neque nec massa scelerisque imperdiet eget id sapien. Fusce elementum mi id malesuada luctus. Proin quis lorem id leo porta interdum non ac nisl. Integer nulla sem, ultrices sed neque eget, blandit condimentum metus. Aliquam eget malesuada sapien. Curabitur aliquet orci sit amet ex tincidunt convallis. Mauris urna mi, consequat mattis mollis a, dignissim eget sem. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nam facilisis sem diam, viverra consequat metus consequat vel. Cras a mi eu ex luctus malesuada quis eu ante. Aliquam erat volutpat.</p>
                <h1 class="pb-3 text-2xl font-bold">Conclusion</h1>
                <p class="pb-3">Donec vulputate auctor leo lobortis congue. Sed elementum pharetra turpis. Nulla at condimentum odio. Vestibulum ullamcorper enim eget porttitor bibendum. Proin eros nibh, maximus vitae nisi a, blandit ultricies lectus. Vivamus eu maximus lacus. Maecenas imperdiet iaculis neque, vitae efficitur felis vestibulum sagittis. Nunc a eros aliquet, egestas tortor hendrerit, posuere diam. Proin laoreet, ligula non eleifend bibendum, orci nulla luctus ipsum, dignissim convallis quam dolor et nulla.</p> %>
            </div>
        </article>

        <div class="flex w-full pt-6">
            <% if @prev_post %>
            <a href="<%= post_path(@prev_post) %>" class="w-1/2 p-6 text-left bg-white shadow hover:shadow-md">
                <p class="flex items-center text-lg font-bold text-blue-800"><i class="pr-1 fas fa-arrow-left"></i> Previous</p>
                <p class="pt-2"><%= @prev_post.title %></p>
            </a>
            <% end %>
            <% if @next_post %>
             <a href="<%= post_path(@next_post) %>" class="w-1/2 p-6 text-right bg-white shadow hover:shadow-md">
                <p class="flex items-center justify-end text-lg font-bold text-blue-800">Next <i class="pl-1 fas fa-arrow-right"></i></p>
                <p class="pt-2"><%= @next_post.title %></p>
            </a>
            <% end %>
        </div>

        <div class="flex flex-col w-full p-6 mt-10 mb-10 text-center bg-white shadow md:text-left md:flex-row">
            <div class="flex justify-center w-full pb-4 md:w-1/5 md:justify-start">
                <%# <img src="https://source.unsplash.com/collection/1346951/150x150?sig=1" class="w-32 h-32 rounded-full shadow"> %>
            </div>
            <div class="flex flex-col justify-center flex-1 md:justify-start">
                <p class="text-2xl font-semibold">David</p>
                <p class="pt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vel neque non libero suscipit suscipit eu eu urna.</p>
                <div class="flex items-center justify-center pt-4 text-2xl text-blue-800 no-underline md:justify-start">
                    <a class="" href="#">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a class="pl-4" href="#">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="pl-4" href="#">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="pl-4" href="#">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </div>
            </div>
        </div>

    </section>

    <%= render partial: "partial/sidebar" %>
</div>
